<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.hotdrop.compl">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CompanyRegisterActivity"
            android:exported="false"
            android:label="@string/title_company_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyAssociateTagActivity"
            android:exported="false"
            android:label="@string/title_tags"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyEditOverviewActivity"
            android:exported="false"
            android:label="@string/title_company_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyJobEvaluationActivity"
            android:exported="false"
            android:label="@string/title_company_job_evaluation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyEditInfoActivity"
            android:exported="false"
            android:label="@string/title_company_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyEditBusinessActivity"
            android:exported="false"
            android:label="@string/title_company_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.CompanyEditDescriptionActivity"
            android:exported="false"
            android:label="@string/title_company_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>